body{
    background-color: rgb(198, 230, 230);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:0;
    margin: 0;

}

.header{
    background-color: rgb(208, 157, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
    height: 12vh;
    width: 100%;

}
.main-text{
    font-family: anaheim;
    font-weight: 800;
    font-size: 6vh;
    color: rgb(217, 255, 0);
}

.blocks-box-outside{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 10% ; */
    background-color:rgb(236, 225, 225);
    bottom: 0.01vh;
    top: 12vh;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto ;
}

.blocks-box-inside{
    
    overflow-x: auto;
    overflow-y: hidden;
    padding: 5vh;
    height: 40vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: aqua;
}

.block{

    display: flex;
    word-break: break-all;
    padding: 1vh;
    /* overflow: hidden; */
    justify-content: center; 
    align-items: center;
    height: 20vh;
    width: 16vh;
    min-width: 20vh;
    margin: 10px;
    background-color:#15ff00;
    /* delay: 1000ms; */
    transition: all 0.3s ease;
}
@keyframes box_grow{
    from{ 
            display: flex;
            word-break: break-all;
            padding: 1vh;
            /* overflow: hidden; */
            justify-content: center; 
            align-items: center;
            height: 20vh;
            width: 16vh;
            min-width: 20vh;
            margin: 10px;
            background-color:#15ff00;
        }
    to{
            transition-delay: 1000ms;
            background-color: #86ff7b ;
            height: 40vh;
            min-width: 32vh;
            width: 32vh;
            margin: 10;
        }
    }
    .block-text{
        color: beige;
    }
    .example::-webkit-scrollbar {
        display: none;
    }

/* Hide scrollbar for IE, Edge and Firefox */
    .example {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    /* .block:hover{
        animation-timing-function: ease-in-out;
        -webkit-animation-timing-function: ease-in-out;
        
        animation:box_grow 500ms 100ms 1 normal forwards ;
        animation-duration: 500ms;
        
    } */
