body{
    margin: 0;
    background-color: rgba(106, 24, 187, 0.726);
    border: 10px solid black;
    /* height: ; */


}

.main-title{
    font-family: anaheim;
    font-size: 52;
    font-weight: 1000;
    display: flex;
    position: relative;
    /* position: absolute; */
    /* left: 100; */
    min-height: 50;
    justify-content: center;
    align-items: center;
    color: rgb(255, 57, 57);
    background-color: rgb(158, 247, 255);
    /* font-size: 1000; */
}
.main-title-text{
    position: relative ;
}
.line{
    position: relative;
}

.main-section{

    position: relative;
    overflow: scroll;
    overflow-y: hidden;
    margin-top: 20vh;
    margin-bottom: 10vh;
    height: 50vh;
    width:100vh;
    border: 10px solid pink;
    display: flex;
    align-items: center;
    /* grid-template-columns: 5 */
}

.centering-main{
    display: flex;
    justify-content: center;
}

.block{
    margin-left: 10vh;
    margin-right: 10vh;
    /* background-color: rgb(209, 209, 21); */
    border: 2px solid rgb(255, 255, 255);
    height: 20vh;
    width: 20vh;
    padding-left: 20vh;
}

